@model IEnumerable<ComputerStore.Models.Product>

@{
    ViewData["Title"] = "Складские позиции";
}

<h1>Складские позиции</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Добавить новый товар</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <strong>@item.Code</strong>
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price.ToString("N2")
                </td>
                <td>
                    <span class="badge @(item.Quantity > 5 ? "bg-success" : item.Quantity > 0 ? "bg-warning" : "bg-danger")">
                        @item.Quantity
                    </span>
                </td>
                <td>
                    @item.Category?.Name
                </td>
                <td>
                    @item.Supplier?.Name
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> @Html.Raw(" | ")
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>

                    @if (User.IsInRole("Manager"))
                    {
                        @* Списание *@
                        @Html.Raw(" | ") <a asp-controller="Debits" asp-action="Create" asp-route-productId="@item.Id">Списать</a>
                        
                        @* Удаление *@
                        @Html.Raw(" | ") <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>