@model ComputerStore.Models.Supplier

@{
    ViewData["Title"] = "Удалить поставщика";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить этого поставщика?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.INN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.INN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
    </form>
</div>